# Практична робота 2. Аналіз даних. Робота даними csv

## Завдання 2

In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/faika/OneDrive/Desktop/bestsellerswithcategories.csv", encoding="latin1")

In [2]:
df.head

<bound method NDFrame.head of                                                   Name  \
0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
..                                                 ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)
546  You Are a Badass: How to Stop Doubting Your Gr...
547  You Are a Badass: How to Stop Doubting Your Gr...
548  You Are a Badass: How to Stop Doubting Your Gr...
549  You Are a Badass: How to Stop Doubting Your Gr...

                       Author  User Rating  Reviews  Price  Year        Genre
0                    JJ Smith          4.7    17350      8  2016  Non Fiction
1                Stephen King          4.6     2052     22  2011      Fiction
2          Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3               George Orwell          4.7    21424      6  2017      Fiction
4    National Geographic Kids          4.8     7665     12  2019  Non Fiction
..                        ...          ...      ...    ...   ...          ...
545               Jeff Kinney          4.9     9413      8  2019      Fiction
546               Jen Sincero          4.7    14331      8  2016  Non Fiction
547               Jen Sincero          4.7    14331      8  2017  Non Fiction
548               Jen Sincero          4.7    14331      8  2018  Non Fiction
549               Jen Sincero          4.7    14331      8  2019  Non Fiction

[550 rows x 7 columns]>

In [3]:
df.shape

(550, 7)

In [14]:
df.nunique()

Name           351
Author         248
User Rating     14
Reviews        346
Price           40
Year            11
Genre            2
dtype: int64

In [16]:
df = df.rename(columns=lambda x: x.lower().replace(' ', '_'))
df

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [17]:
missing = df.isna().sum()
print(missing)
print("Пропущених немає")

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64
Пропущених немає

In [18]:
df["genre"].unique()

array(['Non Fiction', 'Fiction'], dtype=object)

In [20]:
print("Max:", max(df["price"]))
print("Min:", min(df["price"]))
print("Mean:", df["price"].mean())
print("Median:", df["price"].median())

Max: 105
Min: 0
Mean: 13.1
Median: 11.0

In [61]:
print("Найвищий рейтинг:",max(df["user_rating"]))
print("Кількість книг з найвищим рейтинг:", len(df[df["user_rating"]==4.9]))
print("найбільше відгуків:",df[df["reviews"]==max(df["reviews"])]["name"].values[0])
top_50_2010 = df[df["year"] == 2010]
print("Топ-50 у 2010 році, найдорожча:",top_50_2010[top_50_2010["price"] == max(top_50_2010["price"])]["name"].values[0])
fiction_2012 = df[(df["genre"] == "Fiction") & (df["year"] == 2012)]
print("Книг жанру Fiction потрапили до Топ-50 у 2012 році:",len(fiction_2012))
filtered_books = df[(df["user_rating"] == 4.9) & ((df["year"] == 2010) | (df["year"] == 2011))]
print("Книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках:",len(filtered_books))

Найвищий рейтинг: 4.9
Кількість книг з найвищим рейтинг: 52
найбільше відгуків: Where the Crawdads Sing
Топ-50 у 2010 році, найдорожча: Publication Manual of the American Psychological Association, 6th Edition
Книг жанру Fiction потрапили до Топ-50 у 2012 році: 21
Книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках: 1

In [64]:
print("Максимальна і інімальна ціна для жанру Fiction I NonFiction:")
print(df.groupby('genre')['price'].agg(['min', 'max']))

Максимальна і інімальна ціна для жанру Fiction I NonFiction:
             min  max
genre
Fiction        0   82
Non Fiction    0  105